.singProduct_img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid b;
}

.singProduct_img>img {
    width: 300px;
    aspect-ratio: 1/1;
}

.single_btn {
    border: 1px solid orange;
    padding: 10px;
    font-weight: bold;
    color: black;
    border-radius: 15px;

}

.star_icon {
    font-size: 14px !important;
    font-weight: bold !important;
    text-align: center !important;



}

.offer_icon {
    color: rgb(250, 130, 83);
    margin: 0px 2px;
}

.offer_text {
    font-weight: bold;
}

@media screen and (max-width:1000px) {

    .singleProduct_container {
        display: flex;
        flex-direction: column;
    }

    .singleProduct_btn {
        width: 100%;
        display: flex;
        justify-content: space-around;
        /* border: 1px solid; */
    }

    .singleProduct_top{
        padding-left: 0;
    }

}