.homeContainer {
    font-family: 'Fira Sans Condensed', sans-serif;

}





/* itemcard2_Container */

.itemcard2_Container {
    padding: 10px 30px;
    margin-top: 20px;
}

.ItemCard2_img>img {
    width: 200px;
    margin: auto;
    margin-bottom: 7px;
}

.ItemCard2_img>img:hover {
    transform: scale(1.1);
}

.ItemCard3_left {
    border-radius: 20px;
    width: 300px;
    padding: 15px;
    box-shadow: 5px 7px 18px rgb(177, 169, 169);
    margin-bottom: 20px;
    margin-right: 10px;
    /* border: 1px solid; */
}

.ItemCard3_left>img {
    width: 300px;
    aspect-ratio: 1/1;
    padding-top: 40px;
    object-fit: fill;
}


.ItemCard3_right {
    width: 80%;
    padding: 10px;

    /* border: 1px solid; */
}

.ItemCard3_img>img {
    width: 200px;
    aspect-ratio: 1/1;
}

.ItemCard3_sliderSection {
    border: 2px solid;

}

@media screen and (max-width:750px) {
    .ItemCard3_left {
        display: none;
    }


    .itemCard3 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }



    .heading h1 {

        font-size: medium;
        padding-left: 0;
    }

    .heading span {

        display: none;

    }


}