.loginContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("https://img.freepik.com/free-photo/woman-holding-various-shopping-bags-copy-space_23-2148674122.jpg?w=826&t=st=1676832415~exp=1676833015~hmac=53df328ef2f9c7cc237408eff379953ce0316f41b386d08542ea2064a54957fe");
    background-repeat: no-repeat;
    background-size: cover;

}



.login {
    width: 25%;
    background: white;
    border-radius: 20px;
    padding: 15px;
    margin-right: 100px;
    box-shadow: 9px 8px 25px;
}